body{

	overflow-y: hidden;
     overflow-x: hidden; 
     background: radial-gradient(ellipse at bottom, #0d1d30 0%, #0c0d12 100%);


}

.height {
    height: 100vh
}

.form {
    position: relative
}

.form .fa-search {
    position: absolute;
    top: 20px;
    left: 20px;
    color: #9ca3af
}

.form .fa-arrow-right {
    color: #9ca3af;
	transition: transform .2s
}

.fa-arrow-right:hover {
  transform: scale(1.2); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.form span {
    position: absolute;
    right: 17px;
    top: 13px;
    padding: 2px;
}

.left-pan {
    padding-left: 7px
}

.left-pan i {
    padding-left: 10px
}

.form-input {
    height: 55px;
    text-indent: 33px;
    border-radius: 10px
}

.form-input:focus {
    box-shadow: none;
    border: none
}

.weathercontain {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

